# =========================
# Streamlit
# =========================
streamlit==1.32.0
altair==4.2.2
python==3.11

# =========================
# LangChain Core
# =========================
langchain
langchain-openai
langchain-core

# =========================
# Environment Variables
# =========================
python-dotenv

# =========================
# Utilities
# =========================
markdown
groq
requests
